*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* root elients declaratio */
:root{
    --primary-colorA:#E21B70;
    --mini-text-color:#7B8084;
}
/* google font */
.archivo-narrow-font {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
/* styles for flexible  layout */
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.btn-styles{
    background-color: var(--primary-colorA);
    color: #ffff;
    padding: 15px 20px;
    box-sizing: content-box;
}
.btn-styles:hover{
    padding: 18px 24px;
}
